body {
    font-family: 'Nanum Gothic', sans-serif;
    /* height: 2000px; */
    line-height: 1.4;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.4s;
}
.btn:hover{
    background-color: #333;
    color: white;
}
.btn.btn--brown{
    color: #592b18;
    border-color: #592b18;
}
.btn.btn--brown:hover{
    color: #fff;
    border-color: #592b18;
}
.btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
}
.btn.btn--gold:hover{
    color: #fff;
    border-color: #d9aa8a;
}
.btn.btn--white {
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover {
    color: #000;
    background-color: #fff;
}

header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
}

header > .inner {
    height: 120px;
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto 0;
    /* display: none; */
}

header .sub-menu {
    display: flex;
    /* justify-content: flex-end; */
    position: absolute;
    top: 10px;
    right: 0px;
}
header .sub-menu ul.menu {
    display: flex;
    font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
    /* background-color: red; */
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    /* background-color: red; */
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    /* background-color: red; */
    height: 34px;
    position: relative;
}
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 10px;
    outline: none;
    font-size: 12px;
    transition: width .5s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color: green;
}
header .sub-menu .search .material-symbols-outlined {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    right: 5px;
    transition: .5s;
}
header .sub-menu .search.focused .material-symbols-outlined {
    opacity: 0;
}

header .main-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
header .main-menu .item {
}
header .main-menu .item .item__name{
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name{
    color: green;
    background-color: #2c2a29;
    border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents{
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}
header .main-menu .item:hover .item__contents{
    display: block;
}
header .main-menu .item .item__contents .contents__menu{
    background-color: #2c2a29;;
    /* height: 200px; */
}
header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: white;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul {
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__texture{
    /* background-color: orange; */
    /* height: 100px; */
    background-image: url('../../images/starbucks/main_menu_pattern.jpg');
    font-size: 12px;
    padding: 26px 0;
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;;
}
header .main-menu .item .item__contents .contents__texture p {
    color: green;
    margin: 4px 0 14px;
}

header .badges {
    position: absolute;
    right: 12px;
    top: 132px;
}

header .badges .badge {
    /* background-color: orange; */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
}

section {
    /* height: 400px; */
    /* background-color: orange; */
    /* border: 3px solid red; */
}

section.visual1 {
    /* height: 400px; */
    /* background-color: orange; */
    background-image: url('../../images/starbucks/visual_bg.jpg');
    background-position: center;
    margin-top: 120px;
}
section.visual1 .inner{
    height: 646px;
    /* background-color: orange; */
}
section.visual1 .inner .title{
    position: absolute;
    top: 88px;
    left: -10px;
}
section.visual1 .inner .title .btn{
    position: absolute;
    top: 259px;
    left: 173px;
}
section.visual1 .inner .fade-in{
    opacity: 0;
}
section.visual1 .inner .fade-in .cup1.image{
    position: absolute;
    bottom: 0;
    right: -47px;
}
section.visual1 .inner .fade-in .cup1.text{
    position: absolute;
    top: 38px;
    right: 171px;
}
section.visual1 .inner .fade-in .cup2.image{
    position: absolute;
    bottom: 0;
    right: 171px;
}
section.visual1 .inner .fade-in .cup2.text{
    position: absolute;
    top: 321px;
    right: 416px;

}
section.visual1 .inner .fade-in .spoon{
    position: absolute;
    bottom: 0;
    left: 275px;
}

section.notice{

}
section.notice .notice-line{
    position: relative;

}
section.notice .notice-line .bg-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;

}
section.notice .notice-line .bg-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}
section.notice .notice-line .inner{
    height: 62px;
    display: flex;
}
section.notice .notice-line .inner__left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}
section.notice .notice-line .inner__left h2{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
section.notice .notice-line .inner__left .swiper-container{
    /* background-color: orange; */
    flex-grow: 1;
    height: 62px;

}
section.notice .notice-line .inner__left .swiper-container .swiper-wrapper{
    color: #fff;
}
section.notice .notice-line .inner__left .swiper-container .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    cursor: pointer;
}
section.notice .notice-line .inner__left .swiper-container .swiper-wrapper .swiper-slide a{
    color: #fff;
}
section.notice .notice-line .inner__left .notice-line__more{
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.notice .notice-line .inner__left .notice-line__more .material-symbols-outlined{
    color: #fff;
    font-size: 30px;
}
section.notice .notice-line .inner__right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: #f6f5ef; */
}
section.notice .notice-line .inner__right h2{
    display: flex;
    align-items: center;
}
section.notice .notice-line .inner__right .toggle-promotion{
    height: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.notice .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.notice .promotion.hide{
    height: 0;
}
.notice .promotion .swiper-container {
    width: calc((819px * 3) + 10px + 10px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc(((819px * 3) + 10px + 10px)/-2);
}

.notice .promotion .swiper-slide{
    opacity: 0.2;
    position: relative;
}
.notice .promotion .swiper-slide-active{
    opacity: 1;
}
.notice .promotion .swiper-slide .btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.notice .promotion .swiper-pagination{
    bottom: 40px;
    left: 0;
    right: 0;
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 300px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
    background-color: #333;
    color: #fff;
}

.notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -470px;
}
.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -470px;
}
.notice .promotion .swiper-next .material-symbols-outlined,
.notice .promotion .swiper-prev .material-symbols-outlined{
    font-size: 28px;
}
.notice .promotion .swiper-prev .material-symbols-outlined{

}
.notice .promotion .swiper-next .material-symbols-outlined{

}

.notice .promotion .swiper-pagination .swiper-pagination-bullet{
    background-color: transparent;
    background-image: url("../../images/starbucks/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 7px;
    outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url("../../images/starbucks/promotion_slide_pager_on.png");
}

/* rewards--------------------------------------------------------- */

.rewards {
    position: relative;
}
.rewards .bg-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(39,39,39);
}
.rewards .bg-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(211, 200, 157);

}
.rewards .inner {
    background-image: url('../../images/starbucks/rewards.jpg');
    height: 241px;
}
.rewards .inner .btn-group {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 24px;
    right: 0;
}
.rewards .inner .btn-group .sign-up {
    margin-right: 10px;
    width: 130px;
}
.rewards .inner .btn-group .btn.sign-in {
    width: 110px;
}
.rewards .inner .btn-group .btn.gift {
    flex-grow: 1;
    margin-top: 10px;
}

/* youtube--------------------------------------------------------- */

.youtube {
    height: 700px;
    position: relative;
    background-color: rgb(39,39,39);
    overflow: hidden;
}
.youtube .youtube__cover {
    background-image: url('../../images/starbucks/video_cover_pattern.png');
    /* background-color: gray; */
    position: absolute;
    width: 100%;
    height: 100%;
}
.youtube .youtube__area {
    width: 1920px;
    /* background-color: orange; */
    position: absolute;
    left: 50%;
    margin-left: calc(1920px/-2);
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
}
.youtube .youtube__area #player {
    /* transition: 3s; */

}
.youtube .youtube__area #player .floating {
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube .inner {
    /* background-color: gray; */
    height: 700px;
}
.youtube .inner .floating {
    position: absolute;
}
.youtube .inner .floating1 {
    top: 50px;
    left: 0;
}
.youtube .inner .floating2 {
    top: 350px;
    left: 150px;
}

/* season-product--------------------------------------------------------- */

.season-product {
    background-image: url('../../images/starbucks/season_product_bg.jpg');
    height: 400px;
}
.season-product .inner {
    height: 400px;
}
.season-product .inner .text-group {
    position: absolute;
    top: 110px;
    right: 100px
}
.season-product .inner .text-group .title {
    margin-bottom: 10px;
}
.season-product .inner .text-group .description {
    margin-bottom: 15px;
}
.season-product .inner .text-group .more {
    margin-bottom: 15px;
}
.season-product .inner .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
}

/* reserve--------------------------------------------------------- */

.reserve {
    height: 400px;
    background-image: url('../../images/starbucks/reserve_bg.jpg');
}
.reserve .inner {
    position: relative;
    display: flex;
}
.reserve .inner .logo {
    margin: auto 0;
}
.reserve .inner .text-group {
    margin: auto 0;
    margin-left: 50px;
}
.reserve .inner .product {
    margin: 0;
}
/* .reserve .inner .text-group .more .btn{
    color: rgb(144 ,119,99);
    border-color: rgb(144 ,119,99);
} */

/* favorite--------------------------------------------------------- */

.favorite {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../images/starbucks/favorite_bg.jpg');
}
.favorite .inner {
    /* height: 800px; */
    padding: 110px 0;
}
.favorite .inner .text-group {
    /* background-color: orange; */
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}
.favorite .inner .text-group .title{
    margin-bottom: 40px;
}
.favorite .inner .text-group .discription{
    margin-bottom: 40px;
}
.favorite .inner .text-group .more .btn{
}

/* reserve-store--------------------------------------------------------- */

.reserve-store {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../images/starbucks/reserve_store_bg.jpg');
}
.reserve-store .inner {
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reserve-store .inner .container {
    position: relative;
}
.reserve-store .inner .container .item {
    transition: 1s;
    backface-visibility: hidden;
    perspective: 1000px;
}
.reserve-store .inner .container .front {
    position: absolute;
}
.reserve-store .inner .container .back {
    transform: rotateY(-180deg);
}
.reserve-store .inner .container:hover .front {
    transform: rotateY(180deg);
}
.reserve-store .inner .container:hover .back {
    transform: rotateY(0deg);
}
.reserve-store .inner .container .back .btn {
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    margin: 0 auto;
}




.visual6{
    height: 500px;
    background-color: blue;
}